body {
    background-color: beige;
    padding: 0px;
}

#container {
    width: 95vw;
    height: 95vh;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 550px 1fr;
    grid-template-rows: 1fr 1fr 550px 1fr 1fr;
} 

#titleDiv {
    grid-area: 1 / 1 / 2 / 4;
}

#turnDiv {
    grid-area: 2 / 1 / 3 / 4;
}

#playerXScoreDiv {
    grid-area: 3 / 1 / 4 / 2;
}

#playerOScoreDiv {
    grid-area: 3 / 3 / 4 / 4;
}

#gameContainer {
    grid-area: 3 / 2 / 3 / 4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);;
    width: 500px;
    height: 500px;
}

.gameElementDiv {
    background-color: aliceblue;
    width: 100%;
    height: 100%;
    border: black solid 2px;
}

#btnsDiv {
    grid-area: 4 / 2 / 5 / 3;
}